*{
    margin: 0;
    padding: 0;
   
}

body{

}

#buttongleich1{
    padding: 20px 360px;
    margin-top: 15px;
    margin-left: auto;
    font-size: 1.5em;
    background-color:#41bcf6;
    Border: solid 0px rgba(245,0,0,0.8);
    border-radius: 6px;
    text-shadow: 0 -1px 5px rgba(255,255,255,0.4);
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.6) 0%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.15) 100%);
    text-align: center;
    font-weight: 700;
    font-weight: 1.5em;
    border: solid 0.5px rgba(245,0,0,0);
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.4);
    transition: ease-in-out all 50ms;
    display: none;
}

#buttongleich1:hover{
     background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.45) 100%);
    transition: ease-in-out all 50ms; 
    border: solid 0.5px rgba(245,0,0,0.8);
    box-shadow: 0px 30px 15px -15px rgba(0,0,0,0.2);
    margin-top: 13px;
    margin-bottom: 2px;
}

#buttongleich1:active{
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.1) 100%);
    box-shadow: 0px 15px 3px -10px rgba(0,0,0,0.5);
    margin-top: 17px;
    margin-bottom: -2px;
}

#buttongleich2{
    padding: 20px 360px;
    margin-top: 15px;
    font-size: 1.5em;
    background-color:#41bcf6;
    Border: solid 0px rgba(245,0,0,0.8);
    border-radius: 6px;
    text-shadow: 0 -1px 5px rgba(255,255,255,0.4);
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.6) 0%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.15) 100%);
    text-align: center;
    font-weight: 700;
    font-weight: 1.5em;
    border: solid 0.5px rgba(245,0,0,0);
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.4);
    display: none;
    transition: ease-in-out all 50ms;
}

#buttongleich2:hover{
     background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.45) 100%);
    transition: ease-in-out all 50ms; 
    border: solid 0.5px rgba(245,0,0,0.8);
    box-shadow: 0px 30px 15px -15px rgba(0,0,0,0.2);
    margin-top: 13px;
    margin-bottom: 2px;
}

#buttongleich2:active{
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.1) 100%);
    box-shadow: 0px 15px 3px -10px rgba(0,0,0,0.5);
    margin-top: 17px;
    margin-bottom: -2px;
}

#buttongleich3{
    padding: 20px 360px;
    margin-top: 15px;
    font-size: 1.5em;
    background-color:#41bcf6;
    Border: solid 0px rgba(245,0,0,0.8);
    border-radius: 6px;
    text-shadow: 0 -1px 5px rgba(255,255,255,0.4);
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.6) 0%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.15) 100%);
    text-align: center;
    font-weight: 700;
    font-weight: 1.5em;
    border: solid 0.5px rgba(245,0,0,0);
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.4);
    display: none;
    transition: ease-in-out all 50ms;
}

#buttongleich3:hover{
     background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.45) 100%);
    transition: ease-in-out all 50ms; 
    border: solid 0.5px rgba(245,0,0,0.8);
    box-shadow: 0px 30px 15px -15px rgba(0,0,0,0.2);
    margin-top: 13px;
    margin-bottom: 2px;
}

#buttongleich3:active{
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.1) 100%);
    box-shadow: 0px 15px 3px -10px rgba(0,0,0,0.5);
    margin-top: 17px;
    margin-bottom: -2px;
}

#buttongleich4{
    padding: 20px 360px;
    margin-top: 15px;
    font-size: 1.5em;
    background-color:#41bcf6;
    Border: solid 0px rgba(245,0,0,0.8);
    border-radius: 6px;
    text-shadow: 0 -1px 5px rgba(255,255,255,0.4);
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.6) 0%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.15) 100%);
    text-align: center;
    font-weight: 700;
    font-weight: 1.5em;
    border: solid 0.5px rgba(245,0,0,0);
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.4);
    display: none;
    transition: ease-in-out all 50ms;
}

#buttongleich4:hover{
     background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.45) 100%);
    transition: ease-in-out all 50ms; 
    border: solid 0.5px rgba(245,0,0,0.8);
    box-shadow: 0px 30px 15px -15px rgba(0,0,0,0.2);
    margin-top: 13px;
    margin-bottom: 2px;
}

#buttongleich4:active{
    background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.8) 0%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.1) 100%);
    box-shadow: 0px 15px 3px -10px rgba(0,0,0,0.5);
    margin-top: 17px;
    margin-bottom: -2px;
}

#button1{
    text-align: center;
    margin-top: 40px;
   
    
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/frau5.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    
}



#button2{
    text-align: center;
    margin-top: 40px;
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/frau6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
}

#button3{
    text-align: center;
    margin-top: 40px;
   
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/frau5.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
    
}



#button4{
    text-align: center;
    margin-top: 40px;
   
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/frau6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
}

#button5{
    text-align: center;
    margin-top: 40px;
   
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/katze5.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
    
}



#button6{
    text-align: center;
    margin-top: 40px;
   
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/katze6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
}

#button7{
    text-align: center;
    margin-top: 40px;
   
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/frau5.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
    
}



#button8{
    text-align: center;
    margin-top: 40px;
   
    height: 600px;
    width: 400px;
    border: solid 10px rgba(219,87,87,0.6);
    border-radius: 2px;
    background: url(images/frau6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
}

#button9{
    text-align: center;
    margin-top: 10px;
   
    padding: 170px 170px;
    border: solid 10px #db5757;
    border-radius: 20px;
    background: url(images/frau6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
}

#button10{
    text-align: center;
    margin-top: 10px;
   
    padding: 170px 170px;
    border: solid 10px #db5757;
    border-radius: 20px;
    background: url(images/frau6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
}

#button11{
    text-align: center;
    margin-top: 5px;
   
    padding: 170px 170px;
    border: solid 10px #db5757;
    border-radius: 20px;
    background: url(images/frau6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
}

#button12{
    text-align: center;
    margin-top: 5px;
   
    padding: 170px 170px;
    border: solid 10px #db5757;
    border-radius: 20px;
    background: url(images/frau6.jpg);
    background-size: auto;
    box-shadow: 0px 20px 3px -10px rgba(0,0,0,0.5);
    transition: ease-in-out all 50ms;
    display: none;
}


#button1.close{
    display: none;
}
#button2.close{
    display: none;
}
#button3.open{
    display: inline-block;
}
#button4.open{
    display: inline-block;
}
#button5.open{
    display: inline-block;
}
#button6.open{
    display: inline-block;
}
#button7.open{
    display: inline-block;
}
#button8.open{
    display: inline-block;
}
#button9.open{
    display: inline-block;
}
#button10.open{
    display: inline-block;
}
#button11.open{
    display: inline-block;
}
#button12.open{
    display: inline-block;
}

#button1:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}



#button2:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}

#button3:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}

#button4:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}


#button5:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}

#button6:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}


#button7:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}

#button8:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.6);
    height: 620px;
    width: 420px;
    
}

#button9:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgb(0,245,0);
    
}

#button10:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgb(0,245,0);
    
}

#button11:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgb(0,245,0);
    
}

#button12:hover{
    color: darkkhaki;
    background-color: rgba(0,245,0,0.3);
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgb(0,245,0);
    
}

#button1.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    
    
}

#button2.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    
}

#button3.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    display: inline-block;
    
}

#button4.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    display: inline-block;
}

#button5.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    display: inline-block;
}

#button6.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    display: inline-block;
}

#button7.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    display: inline-block;
}

#button8.click{
    height: 620px;
    width: 435px;
    border-color: #FFF;
    box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.2);
    border: solid 15px rgba(0,245,0,0.8);
    transition: ease-in-out all 800ms;
    display: inline-block;
}

#navigation{
    
    
    height: 75px;
    width: 100%;
    background-color:#F0FFF0;
    border-bottom: solid 1px #DCDCDC;
}

#Genre{
    width: 300px;
    float: left;
    height: 75px;
    text-align: center;
    font-weight: 700;

    font-size: 1.5em;
    background: url(images/Logo.jpg);
    background-color:#F0FFF0;
    Border: solid 0px rgba(245,0,0,0.8);
    border-bottom: solid 1px #DCDCDC;
    border-radius: 6px;
    text-shadow: 0 -1px 2px rgba(255,255,255,0.4);
   

}

#Genre a{
    text-align: center;
    color: black;
}

#Account{
    width: 300px;
    float: right;
    height: 54px;
    text-align: center;
    font-weight: 900;
    padding-top: 21px;
    background-color:#F0FFF0;
    Border: solid 0px rgba(245,0,0,0.8);
    border-bottom: solid 1px #DCDCDC;
    border-radius: 6px;
    text-shadow: 0 -1px 2px rgba(255,255,255,0.4);

}

#Account a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 1.2em;
    font-family:Lucida Sans Unicode; 
}


#Genre:hover {
  
 
    transition: ease-in-out all 50ms; 
    border: solid 0.5px rgba(245,0,0,0.8);
    
    
}



#Account:hover {
   
     background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0) 51%,
    rgba(255,255,255,0.45) 100%);
    transition: ease-in-out all 50ms;
    border: solid 0.5px rgba(245,0,0,0.8);
}


#dropdownGenre{
    width: 300px;
    float: left;
    
    position:absolute;
}

#dropdownGenre.open1{
    width: 300px;
    float: left;
    position: absolute;
    display: inline-block;
}

#Genrefrau{
    width: 300px;
    height: 60px;
    float: left;
    background: url(images/frauenkopf1.jpg);
    background-color:#F0FFF0;
    font-weight: 700;
    font-size: 1.3em;
    border: none;
    border-right: solid 2px #C0C0C0;
    font-family:Lucida Sans Unicode;
   
    
}

#Genremann{
    width: 300px;
    height: 60px;
    float: left;
    background: url(images/m%C3%A4nnerkopf.jpg);
    background-color:#FFFFFF;
    font-weight: 700;
    font-size: 1.3em;
    border: none;
    border-right: solid 2px #C0C0C0;
    font-family:Lucida Sans Unicode;
    
}

#Genrekatze{
    width: 300px;
    height: 60px;
    float: left;
    background: url(images/katzenbild.jpg);
    background-color:#F0FFF0;
    font-weight: 700;
    font-size: 1.3em;
    border: none;
    border-right: solid 2px #C0C0C0;
    font-family:Lucida Sans Unicode;
    
}

#Genrehund{
    width: 300px;
    height: 60px;
    float: left;
    background: url(images/hundebild.jpg);
    background-color:#F0FFF0;
    font-weight: 700;
    font-size: 1.3em;
    border: none;
    border-right: solid 2px #C0C0C0;
    font-family:Lucida Sans Unicode;
}

#Genrevergleich{
    width: 300px;
    height: 60px;
    float: left;
    background: url(images/quadratbild.jpg);
    background-color:#F0FFF0;
    font-weight: 700;
    font-size: 1.3em;
    border: none;
    border-right: solid 2px #C0C0C0;
    border-bottom: solid 2px #C0C0C0;
    font-family:Lucida Sans Unicode;
     
}



#Genrefrau:hover {
    background: url(images/frauenkopf.jpg);
}
#Genremann:hover {
    background: url(images/m%C3%A4nnerkopf1.jpg);
}
#Genrekatze:hover {
background: url(images/katzenbild1.jpg);
}
#Genrehund:hover {
background: url(images/hundebild1.jpg);
}
#Genrevergleich:hover {
background: url(images/quadratbild1.jpg);
    box-shadow: 0px 11px 8px -5px rgba(0,0,0,0.2);
}


#Genrefrau.click{
    background: url(images/frauenkopf.jpg);
}
#Genremann.click{
    background: url(images/m%C3%A4nnerkopf1.jpg);
}
#Genrekatze.click{
    background: url(images/katzenbild1.jpg);
}
#Genrehund.click{
    background: url(images/hundebild1.jpg);
}
#Genrevergleich.click{
    background: url(images/quadratbild1.jpg);
    
}

#Genrevergleich.click:hover{
    box-shadow: none;
}

#wrapper {
    
    max-width: 90%;
    text-align: center;
    margin: auto auto;
    width: 1020px;
    
}

#animation1{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation2{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation1.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation2.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation1.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}

#animation2.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}

#animation3{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation4{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation3.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation4.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation3.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}

#animation4.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}

#animation5{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation6{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation5.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation6.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation5.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}

#animation6.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}
#animation7{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation8{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation7.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation8.open{
    font-size: 5.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 800ms;
}

#animation7.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}

#animation8.opener{
    font-size: 10.5em;
    font-weight: 700;
    color: rgba(0,250,0,0.01);
    transition: ease-in-out all 1500ms;
}
#animation9{
    font-size: 1em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation10{
    font-size: 1em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation9.open{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 900ms;
}

#animation10.open{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 900ms;
}
#animation11{
    font-size: 1em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation12{
    font-size: 1em;
    font-weight: 700;
    color: rgba(0,0,0,0);
}

#animation11.open{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 900ms;
}

#animation12.open{
    font-size: 2em;
    font-weight: 700;
    color: rgba(0,250,0,0.8);
    transition: ease-in-out all 900ms;
}

